.button {
    position: relative;
    overflow: hidden;

    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    color: black;

    border-radius: 30em;
    background: linear-gradient(145deg, #eee, #f0f0f0);
    box-shadow:  10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;

    margin: 0 1em;
    padding: 0.5em;

    width: 2em;
    height: 2em;
    border: none;

    transition: .3s ease-out .2s;
}

.button::before {
    content: '';
    width: 100%;
    height: 0;
    
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to top right, var(--p-color-3) 0%, var(--p-color-4) 100%
    );
    transition: .3s ease;
    display: block;
    z-index: -1;
}

.button:hover::before {
    transition: .3s ease .2s;
    height: 100%;
}

.button-icon {
    width: var(--btn-icon-size);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--btn-icon-size);
}

.button-text {
    position: absolute;
    right: 0;
    width: 0;
    opacity: 0;
    
    font-size: var(--btn-font-size);
    line-height: var(--btn-font-size);

    transition: .3s ease-out .2s;
}

.button:hover {
    width: 7em;
    transition: .3s ease;
}

.button:hover .button-text {
    width: 60%;
    opacity: 1;
    transition: .3s ease;
}