.button {
    position: relative;
    overflow: hidden;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;

    border-radius: 1.5em;
    background: linear-gradient(145deg, #eee, #f0f0f0);
    box-shadow:  10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;

    
    padding: 0em 2em;
    margin: 0 0.5em;

    height: 2.5em;
    border: none;
}

.button::before {
    content: '';
    width: 100%;
    height: 0;
    
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to top right, var(--p-color-3) 0%, var(--p-color-4) 100%
    );
    transition: .2s ease-out;
    display: block;
    z-index: -1;
}

.button:hover::before {
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
}

.button-text {
    padding: 0.3em 0em 0em 0.5em;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2em;
}