.highlights {
    position: relative;
    width: 100%;
    height: max-content;
}

.highlights::after {
    content: "";

    --wedge-size: 5em;

    position: absolute;
    bottom: calc(-1 * var(--wedge-size));
    left: 0;

    width: 100%;
    height: var(--wedge-size);

    background: linear-gradient(145deg, #eee, #f0f0f0);

    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);

}

.highlights .heading-bg {
    left: 0;
    top: 0;

    z-index: 0;
    height: 8em;

    clip-path: polygon(0 0, 100% 0, 100% 3em, 0% 100%);
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.highlights .heading-visible {
    top: 4em;
}

.highlights h2 {
    position: relative;

    margin: 0 15vw 5vh 15vw;
    font-size: clamp(2em, 10vw, 4em);
    font-weight: 600;
    letter-spacing: 0.1em;
    font-family: var(--font-heading), sans-serif;
    

    z-index: 1;
}

.highlights .tile-container {
    position: relative;

    margin: 5rem 15vw;
    padding-bottom: 5em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    gap: 2rem;

    z-index: 1;
}

.highlights .tile {
    margin: 0 1em;
}

.highlights .tile:only-child {
    margin: 0 auto;
}

@media screen and (max-width: 776px) {
    .highlights {
        justify-content: center;
    }
}