.hero-header {
    position: relative;
    top: 0;
    left: 0;

    margin: 5vw 0 0 0;

}

.hero-gradient-container {
    --gradientColorZeroTransparent: rgba(169,96,238,0);
    --gradientColorOneTransparent: rgba(255,51,61,0);
    --gradientColorTwoTransparent: rgba(144,224,255,0);
    --gradientColorThreeTransparent: rgba(255,203,87,0);

    --gradient-color-1: var(--p-color-1);
    --gradient-color-2: var(--p-color-2);
    --gradient-color-3: var(--p-color-3);
    --gradient-color-4: var(--p-color-4);

    position: absolute;
    bottom: 4vw;
    top: auto;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform-origin: top left;

    transform:
        rotate(12deg) 
        skewX(12deg)
        scaleX(1.2)
        translate(
            calc(-1 * var(--hero-heading-margin)),
            -4em
        );
}

.hero-gradient {
    position: relative;
    display: block;
    
    width: inherit;
    height: 100%;
    opacity: 0;
}

.hero-gradient.isLoaded {
    opacity: 1;
    transition: opacity 2s ease-in 50ms;
}

.hero-gradient-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100vw;
    height: 100%;

    background: radial-gradient(
            var(--p-color-4) 40%,
            rgba(255, 255, 255, 0) 60%
        ) -420px -180px no-repeat,
        radial-gradient(
            var(--p-color-3) 23%,
            rgba(255, 255, 255, 0) 70%
        ) 240px -24px no-repeat,
        radial-gradient(
            var(--p-color-3) 30%,
            rgba(255, 255, 255, 0) 70%
        ) -270px 220px no-repeat,
        var(--p-color-1);

    transition: opacity 2s ease-in 50ms;
}

.hero-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #898989;

    padding: 0;
    margin: 0;
}

.heading-overlay {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;
    color: #3a3a3a;
    opacity: .3;
}

.heading-burn {
    mix-blend-mode: color-burn;
    opacity: 1;
}

.hero-heading p {
    position: relative;
    text-align: left;

    padding: 0;
    margin: 0;

    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
}

.hero-heading p:first-child {
    font-size: clamp(1rem, 4vw, 2rem);
    padding-left: 0.2em;
}

.hero-heading p:last-child {
    font-size: clamp(3rem, 16vw, 8rem);
    line-height: clamp(3rem, 16vw, 8rem);
}