.projects {
    margin: 10em 10vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.projects > .table-header {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    width: 100%;

    z-index: 1;

    min-height: 2em;
    
    padding: 0.2em 1em 0.2em 4em;
    
    border-radius: 1.5em;
    background: linear-gradient(145deg, var(--bg-t-color-1), var(--bg-t-color-2));
    filter: 
        drop-shadow(5px 5px 10px var(--shadow-color-1)) 
        drop-shadow(-5px -5px 10px var(--shadow-color-2));
}

.projects > .table-header > * {
    box-sizing: border-box;

    font-size: 1em;
    font-weight: 600;
    color: var(--font-color-1)
}

.projects > .table-header .date {
    flex: 1;
}

.projects > .table-header .title {
    flex: 3;
}

.projects > .table-header .languages {
    flex: 5;
}

.projects > .table-header .visibility {
    flex: 2;
}

.projects > .table-header .link {
    flex: 3;
}

@media screen and (max-width: 1000px) {
    .projects > .table-header .languages {
        display: none;
    }

    .projects > .table-header .title {
        flex: 5;
    }

    .projects > .table-header .visibility {
        flex: 1;
    }
}

@media screen and (max-width: 700px) {
    .projects > .table-header .link {
        display: none;
    }

    .projects > .table-header .visibility {
        display: none;
    }

}