.bio {
    position: relative;

    width: 100%;
}

.bio .bio-info {
    box-sizing: border-box;

    width: 100%;

    height: 25em;

    padding: 2em 0;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

.bio .bio-text {
    flex: 1;

    margin-left: 15vw;
    margin-right: 1em;
    padding: 2em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    font-size: 1.2em;
}

.bio .bio-text p {
    margin: 0;
}

.bio .bio-stats {
    border-radius: 1.5em;
    background: linear-gradient(145deg, #eee, #f0f0f0);
    box-shadow:  10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;

    z-index: 1;

    width: 40vw;
    max-width: 30em;
    margin-right: 5vw;
}

.bio .bio-gradient-container {
    --gradientColorZeroTransparent: rgba(169,96,238,0);
    --gradientColorOneTransparent: rgba(255,51,61,0);
    --gradientColorTwoTransparent: rgba(144,224,255,0);
    --gradientColorThreeTransparent: rgba(255,203,87,0);

    --gradient-color-1: var(--p-color-1);
    --gradient-color-2: var(--p-color-2);
    --gradient-color-3: var(--p-color-3);
    --gradient-color-4: var(--p-color-4);

    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 30em;

    transform-origin: top left;

    transform:
        rotate(-4deg)
        skewX(-4deg)
        scaleX(1.2);
}

.bio-gradient {
    position: relative;
    display: block;
    
    width: inherit;
    height: 100%;
    opacity: 0;
}

.bio-gradient.isLoaded {
    opacity: 1;
    transition: opacity 2s ease-in 50ms;
}