.bio {
    position: relative;

    z-index: 1;

    width: 100%;

    padding: 5em 0;

    display: flex;
    justify-content: center;
    align-items: center;

    
    background: linear-gradient(145deg, #eee, #f0f0f0);

    filter: 
        drop-shadow(10px 10px 20px #bebebe) 
        drop-shadow(-10px -10px 20px #bebebe);
}

.bio::before,
.bio::after {
    content: "";

    position: absolute;
    left: 0;

    background: linear-gradient(145deg, #eee, #f0f0f0);
    width: 100vw;
    height: var(--wedge-height);
}

.bio::before {
    --wedge-height: 5em;
    top: calc(-1 * var(--wedge-height));

    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

.bio::after {
    --wedge-height: 3em;
    bottom: calc(-1 * var(--wedge-height));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

.bio .bio-bg {
    position: absolute;
    top: 0;
    left: 20vw;

    width: 100vw;
    height: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bio .bio-icon {
    font-size: 25em;
    color: #ddd;
}

.bio .bio-info {
    margin: 2em var(--h-margin);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.bio .bio-text {

    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: 1em;

    text-align: justify;

}

.bio .bio-info p {
    margin: 0;
    font-size: 1.2em;
}