@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  --color-1: #403933;
  --color-2: #595048;
  --color-3: #8C837B;
  --color-4: #F2EADF;
  --color-5: #D9CCC1;

  --p-color-1: #0080ff;
  --p-color-2: #2b00ff;
  --p-color-3: #d400ff;
  --p-color-4: #ff0080;

  --font-heading: 'Gabarito', sans-serif;
  --font-body: 'Josefin Sans', sans-serif;

}

body {
  margin: 0;
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
