@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  --color-1: #403933;
  --color-2: #595048;
  --color-3: #8C837B;
  --color-4: #F2EADF;
  --color-5: #D9CCC1;

  --p-color-1: #0080ff;
  --p-color-2: #2b00ff;
  --p-color-3: #d400ff;
  --p-color-4: #ff0080;

  --l-color-1: hsl(210, 100%, 70%);
  --l-color-2: hsl(250, 100%, 70%);
  --l-color-3: hsl(290, 100%, 70%);
  --l-color-4: hsl(330, 100%, 70%);

  --d-color-1: hsl(210, 100%, 30%);
  --d-color-2: hsl(250, 100%, 30%);
  --d-color-3: hsl(290, 100%, 30%);
  --d-color-4: hsl(330, 100%, 30%);

  --bg-color-1: hsl(291, 100%, 97%);
  --bg-color-2: hsl(291, 20%, 90%);

  --font-heading: 'Gabarito', sans-serif;
  --font-body: 'Josefin Sans', sans-serif;

  --h-margin: 15vw;

  margin: 0;
  padding: 0;
  border: 0;

  cursor: inherit;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  

}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
