nav {
    position: fixed;

    z-index: 10;

    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    padding: 0.5em;
    margin: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 2em;
    background: linear-gradient(145deg, var(--bg-color-2), var(--bg-color-1));
    box-shadow:  15px 15px 50px var(--bg-color-2),
             -15px -15px 50px var(--bg-color-1);

}

li {
    position: relative;

    color: #000;
    height: 2.5em;

    z-index: 1;
    
    overflow: hidden;

    cursor: pointer;

    padding: 0em 2em;
    margin: 0 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1.5em;

    background: linear-gradient(145deg, var(--bg-color-1), var(--bg-color-2));
    box-shadow:  5px 5px 5px var(--bg-color-2),
                -5px -5px 5px var(--bg-color-1);

    transition: all 0.2s ease-out;
}

li:first-child {
    margin-left: 0;
}

li:last-child {
    margin-right: 0;
}

li::before {
    content: '';
    width: 100%;
    height: 0;
    
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to top right, var(--p-color-3) 0%, var(--p-color-4) 100%
    );
    transition: .3s ease-out;
    display: block;
    z-index: -1;
}

li:hover::before {
    height: 100%;
}

li .nav-icon {
    width: 1.5em;
    visibility: visible;
    display: block;
}

li p {
    padding: 0.3em 0.5em 0em 0.5em;
    margin: 0;

    font-size: 1.2em;
    line-height: 1.2em;;
}

@media screen and (max-width: 1200px) {
    li .nav-icon {
        width: 0;
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 786px) {
    ul {
        max-width: 20em;
        width: clamp(10em, 100%, 20em);
        justify-content: space-between;

        margin: 0.5em 1em;;
    }

    li {
        padding: 0em 0.5em;
    }

    li .nav-icon {
        width: 1.5em;
        visibility: visible;
        display: block;
    }

    li .nav-text {
        display: none;
    }
}

